{% extends 'admin/base_site.html' %}

{% block content %}
    <h1>THỐNG KÊ THÔNG TIN CÁC KHOÁ HỌC</h1>

    <h2>Số lượng khóa học: {{ course_count }}</h2>

    <ul>
        {% for s in stats %}
        <li>{{ s.id }} - Môn <strong>{{ s.name }}</strong>: {{ s.course_count }} bài học</li>
        {% endfor %}
    </ul>

    <div style="width: 40%">
      <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        let data = [];
        let label = [];

        {% for s in stats %}
            data.push({{ s.course_count }})
            label.push('{{ s.name }}')
        {% endfor %}

        window.onload = function() {
          const ctx = document.getElementById('myChart');

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: label,
              datasets: [{
                label: '#Số lượng',
                data: data,
                backgroundColor: 'rgba(255,220,0,0.6)',
                borderColor: 'rgb(255,255,255)',
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        }
    </script>
{% endblock %}